<div ng-controller="alarmController">
    <div class="alarmHeader">
        <div class="pageHeader">
            <ons-button modifier="quiet" class="pageTitle" ng-click="backSearch()">
                <ons-ripple color="rgba(0, 154, 68, 0.25)"></ons-ripple>
                <i class="icon ion-arrow-left-c"></i> Done
            </ons-button>
            <div class="pageTitle pull-right langSelect" ng-click="langPopover.show('.langSelect')"><i class="icon ion-arrow-down-b"></i> {{masterObj[prodIndex].versions[verIndex].languages[langIndex].langName}}</div>
            <div style="clear:both;"></div>
        </div>
        <div class="alarmTitle"><span ng-if="currentAlarm[0].number" ng-bind-html="currentAlarm[0].number"></span> {{currentAlarm[0].name}}</div>
    </div>
    <ons-tabbar class="tabBar" animation="fade">
        <ons-tab page="alarm.html" label="Alarm" icon="ion-android-notifications" active="true"></ons-tab>
        <ons-tab ng-show="masterObj[prodIndex].shortName!=='mirasol'" page="info.html" label="Info" icon="ion-information-circled"></ons-tab>
        <ons-tab ng-show="masterObj[prodIndex].shortName!=='quantum'" page="troubleshooting.html" label="Troubleshooting" icon="ion-wrench"></ons-tab>
    </ons-tabbar>

    <ons-template id="alarm.html">
        <div class="box">
            <div class="alarmBody">
                <div class="explanation" ng-if="currentAlarm[0].explanation && masterObj[prodIndex].shortName!=='quantum' && masterObj[prodIndex].shortName!=='trima' && masterObj[prodIndex].shortName!=='reveos'">
                    <ol>
                        <div ng-repeat="x in currentAlarm[0].explanation">
                            <div ng-if="x.para">{{x.para}}</div>
                            <li ng-if="x.step">{{x.step}}</li>
                            <ul ng-if="x.ulSublist">
                                <div ng-repeat="y in x.ulSublist">
                                    <li ng-if="y.step">{{y.step}}</li>
                                </div>
                            </ul>
                        </div>
                    </ol>
                </div>
                <div class="explanation" ng-if="currentAlarm[0].explanation && masterObj[prodIndex].shortName=='trima'" ng-bind-html="currentAlarm[0].explanation | nl2br"></div>
                <div class="explanation" ng-if="currentAlarm[0].explanation && masterObj[prodIndex].shortName=='reveos'" ng-bind-html="currentAlarm[0].explanation | nl2br">
                </div>
                <br>
                <dl ng-if="masterObj[prodIndex].shortName!=='trima' && masterObj[prodIndex].shortName!=='quantum' && masterObj[prodIndex].shortName!=='mirasol'">
                    <dt ng-if="currentAlarm[0].causesActions[0].cause">{{currentAlarm[0].causesActions[0].cause}}<br></dt>
                    <dd ng-if="currentAlarm[0].causesActions[0].action">
                        <!--                        <div ng-bind-html="currentAlarm[0].action0 | nl2br">{{currentAlarm[0].action0}}</div>
                        <br>-->
                        <ol>
                            <div ng-repeat="x in currentAlarm[0].causesActions[0].action">
                                <div ng-if="x.para" class="para">{{x.para}}</div>
                                <li ng-if="x.step">{{x.step}}</li>
                                <ol ng-if="x.olSublist">
                                    <div ng-repeat="y in x.olSublist">
                                        <li ng-if="y.step">{{y.step}}</li>
                                        <ul ng-if="y.ulSublist2">
                                            <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ol>
                                <ul ng-if="x.ulSublist">
                                    <div ng-repeat="z in x.ulSublist">
                                        <li ng-if="z.step">{{z.step}}</li>
                                        <ol ng-if="z.olSublist2">
                                            <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                        </ol>
                                        <ul ng-if="z.ulSublist2">
                                            <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </ol>
                    </dd>
                    <dt ng-if="currentAlarm[0].causesActions[1].cause">{{currentAlarm[0].causesActions[1].cause}}<br></dt>
                    <dd ng-if="currentAlarm[0].causesActions[1].action">
                        <!--                        <div ng-bind-html="currentAlarm[0].action1 | nl2br">{{currentAlarm[0].action1}}</div>
                        <br>-->
                        <ol>
                            <div ng-repeat="x in currentAlarm[0].causesActions[1].action">
                                <div ng-if="x.para" class="para">{{x.para}}</div>
                                <li ng-if="x.step">{{x.step}}</li>
                                <ol ng-if="x.olSublist">
                                    <div ng-repeat="y in x.olSublist">
                                        <li ng-if="y.step">{{y.step}}</li>
                                        <ul ng-if="y.ulSublist2">
                                            <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ol>
                                <ul ng-if="x.ulSublist">
                                    <div ng-repeat="z in x.ulSublist">
                                        <li ng-if="z.step">{{z.step}}</li>
                                        <ol ng-if="z.olSublist2">
                                            <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                        </ol>
                                        <ul ng-if="z.ulSublist2">
                                            <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </ol>
                    </dd>
                    <dt ng-if="currentAlarm[0].causesActions[2].cause">{{currentAlarm[0].causesActions[2].cause}}<br></dt>
                    <dd ng-if="currentAlarm[0].causesActions[2].action">
                        <!--                        <div ng-bind-html="currentAlarm[0].action2 | nl2br">{{currentAlarm[0].action2}}</div>
                        <br>-->
                        <ol>
                            <div ng-repeat="x in currentAlarm[0].causesActions[2].action">
                                <div ng-if="x.para" class="para">{{x.para}}</div>
                                <li ng-if="x.step">{{x.step}}</li>
                                <ol ng-if="x.olSublist">
                                    <div ng-repeat="y in x.olSublist">
                                        <li ng-if="y.step">{{y.step}}</li>
                                        <ul ng-if="y.ulSublist2">
                                            <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ol>
                                <ul ng-if="x.ulSublist">
                                    <div ng-repeat="z in x.ulSublist">
                                        <li ng-if="z.step">{{z.step}}</li>
                                        <ol ng-if="z.olSublist2">
                                            <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                        </ol>
                                        <ul ng-if="z.ulSublist2">
                                            <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </ol>
                    </dd>
                    <dt ng-if="currentAlarm[0].causesActions[3].cause">{{currentAlarm[0].causesActions[3].cause}}<br></dt>
                    <dd ng-if="currentAlarm[0].causesActions[3].action">
                        <!--                        <div ng-bind-html="currentAlarm[0].action3 | nl2br">{{currentAlarm[0].action3}}</div>
                        <br>-->
                        <ol>
                            <div ng-repeat="x in currentAlarm[0].causesActions[3].action">
                                <div ng-if="x.para" class="para">{{x.para}}</div>
                                <li ng-if="x.step">{{x.step}}</li>
                                <ol ng-if="x.olSublist">
                                    <div ng-repeat="y in x.olSublist">
                                        <li ng-if="y.step">{{y.step}}</li>
                                        <ul ng-if="y.ulSublist2">
                                            <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ol>
                                <ul ng-if="x.ulSublist">
                                    <div ng-repeat="z in x.ulSublist">
                                        <li ng-if="z.step">{{z.step}}</li>
                                        <ol ng-if="z.olSublist2">
                                            <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                        </ol>
                                        <ul ng-if="z.ulSublist2">
                                            <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </ol>
                    </dd>
                    <dt ng-if="currentAlarm[0].causesActions[4].cause">{{currentAlarm[0].causesActions[4].cause}}<br></dt>
                    <dd ng-if="currentAlarm[0].causesActions[4].action">
                        <!--                        <div ng-bind-html="currentAlarm[0].action4 | nl2br">{{currentAlarm[0].action4}}</div>
                        <br>-->
                        <ol>
                            <div ng-repeat="x in currentAlarm[0].causesActions[4].action">
                                <div ng-if="x.para" class="para">{{x.para}}</div>
                                <li ng-if="x.step">{{x.step}}</li>
                                <ol ng-if="x.olSublist">
                                    <div ng-repeat="y in x.olSublist">
                                        <li ng-if="y.step">{{y.step}}</li>
                                        <ul ng-if="y.ulSublist2">
                                            <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ol>
                                <ul ng-if="x.ulSublist">
                                    <div ng-repeat="z in x.ulSublist">
                                        <li ng-if="z.step">{{z.step}}</li>
                                        <ol ng-if="z.olSublist2">
                                            <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                        </ol>
                                        <ul ng-if="z.ulSublist2">
                                            <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </ol>
                    </dd>
                    <dt ng-if="currentAlarm[0].causesActions[5].cause">{{currentAlarm[0].causesActions[5].cause}}<br></dt>
                    <dd ng-if="currentAlarm[0].causesActions[5].action">
                        <!--                        <div ng-bind-html="currentAlarm[0].action5 | nl2br">{{currentAlarm[0].action5}}</div>
                        <br>-->
                        <ol>
                            <div ng-repeat="x in currentAlarm[0].causesActions[5].action">
                                <div ng-if="x.para" class="para">{{x.para}}</div>
                                <li ng-if="x.step">{{x.step}}</li>
                                <ol ng-if="x.olSublist">
                                    <div ng-repeat="y in x.olSublist">
                                        <li ng-if="y.step">{{y.step}}</li>
                                        <ul ng-if="y.ulSublist2">
                                            <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ol>
                                <ul ng-if="x.ulSublist">
                                    <div ng-repeat="z in x.ulSublist">
                                        <li ng-if="z.step">{{z.step}}</li>
                                        <ol ng-if="z.olSublist2">
                                            <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                        </ol>
                                        <ul ng-if="z.ulSublist2">
                                            <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </ol>
                    </dd>
                    <dt ng-if="currentAlarm[0].causesActions[6].cause">{{currentAlarm[0].causesActions[6].cause}}<br></dt>
                    <dd ng-if="currentAlarm[0].causesActions[6].action">
                        <!--                        <div ng-bind-html="currentAlarm[0].action6 | nl2br">{{currentAlarm[0].action6}}</div>
                        <br>-->
                        <ol>
                            <div ng-repeat="x in currentAlarm[0].causesActions[6].action">
                                <div ng-if="x.para" class="para">{{x.para}}</div>
                                <li ng-if="x.step">{{x.step}}</li>
                                <ol ng-if="x.olSublist">
                                    <div ng-repeat="y in x.olSublist">
                                        <li ng-if="y.step">{{y.step}}</li>
                                        <ul ng-if="y.ulSublist2">
                                            <li ng-repeat="a in y.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ol>
                                <ul ng-if="x.ulSublist">
                                    <div ng-repeat="z in x.ulSublist">
                                        <li ng-if="z.step">{{z.step}}</li>
                                        <ol ng-if="z.olSublist2">
                                            <li ng-repeat="a in z.olSublist2">{{a.step}}</li>
                                        </ol>
                                        <ul ng-if="z.ulSublist2">
                                            <li ng-repeat="a in z.ulSublist2">{{a.step}}</li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>
                        </ol>
                    </dd>
                </dl>
                <dl ng-if="masterObj[prodIndex].shortName=='trima'">
                    <dt ng-if="currentAlarm[0].moreinfo0">{{currentAlarm[1].more_info1}}</dt>
                    <dd ng-if="currentAlarm[0].moreinfo0">
                        <div>{{currentAlarm[0].moreinfo0}}</div>
                    </dd>
                    <dt ng-if="currentAlarm[0].moreinfo1">{{currentAlarm[1].more_info2}}</dt>
                    <dd ng-if="currentAlarm[0].moreinfo1">
                        <div>{{currentAlarm[0].moreinfo1}}</div>
                    </dd>
                    <dt ng-if="currentAlarm[0].moreinfo2">{{currentAlarm[1].more_info3}}</dt>
                    <dd ng-if="currentAlarm[0].moreinfo2">
                        <div>{{currentAlarm[0].moreinfo2}}</div>
                    </dd>
                    <dt ng-if="currentAlarm[0].moreinfo3">{{currentAlarm[1].more_info4}}</dt>
                    <dd ng-if="currentAlarm[0].moreinfo3">
                        <div>{{currentAlarm[0].moreinfo3}}</div>
                    </dd>
                    <dt ng-if="currentAlarm[0].moreinfo4">{{currentAlarm[1].more_info5}}</dt>
                    <dd ng-if="currentAlarm[0].moreinfo4">
                        <div>{{currentAlarm[0].moreinfo4}}</div>
                    </dd>
                </dl>
                <dl ng-if="masterObj[prodIndex].shortName=='quantum'">
                    <dt ng-if="currentAlarm[0].explanation">{{currentAlarm[1].description}}</dt>
                    <dd ng-if="currentAlarm[0].explanation">
                        <div>{{currentAlarm[0].explanation}}</div>
                    </dd>
                    <br/>
                    <dt ng-if="currentAlarm[0].system_response0">{{currentAlarm[1].response}}</dt>
                    <dd ng-if="currentAlarm[0].system_response0">
                        <div>{{currentAlarm[0].system_response0}} <span>({{currentAlarm[0].system_response0type}})</span></div>
                        <div ng-if="currentAlarm[0].system_response1">{{currentAlarm[0].system_response1}} <span>({{currentAlarm[0].system_response1type}})</span></div>
                        <div ng-if="currentAlarm[0].system_response2">{{currentAlarm[0].system_response2}} <span>({{currentAlarm[0].system_response2type}})</span></div>
                        <div ng-if="currentAlarm[0].system_response3">{{currentAlarm[0].system_response3}} <span>({{currentAlarm[0].system_response3type}})</span></div>
                    </dd>
                    <br/>
                    <dt ng-if="currentAlarm[0].cause0">{{currentAlarm[1].causeaction}}</dt>
                    <dd ng-if="currentAlarm[0].cause0">
                        <div>{{currentAlarm[1].possible_cause}} 1: {{currentAlarm[0].cause0}}</div>
                        <div>{{currentAlarm[1].operator_action}} 1: {{currentAlarm[0].action0}}</div>
                    </dd>
                    <br/>
                    <dd ng-if="currentAlarm[0].cause1">
                        <div>{{currentAlarm[1].possible_cause}} 2: {{currentAlarm[0].cause1}}</div>
                        <div>{{currentAlarm[1].operator_action}} 2: {{currentAlarm[0].action1}}</div>
                    </dd>
                    <br/>
                    <dd ng-if="currentAlarm[0].cause2">
                        <div>{{currentAlarm[1].possible_cause}} 3: {{currentAlarm[0].cause2}}</div>
                        <div>{{currentAlarm[1].operator_action}} 3: {{currentAlarm[0].action2}}</div>
                    </dd>
                </dl>
                <dl ng-if="masterObj[prodIndex].shortName=='mirasol'">
                    <dt>{{currentAlarm[1].message_number}}</dt>
                    <dd>{{currentAlarm[0].number}} <img ng-src="{{currentAlarm[0].image}}" class="scale_inline"></dd>
                    <br/>
                    <dt>{{currentAlarm[1].occurs}}</dt>
                    <dd>{{currentAlarm[0].occurs}}</dd>
                    <br/>
                    <dt>{{currentAlarm[1].cause}}</dt>
                    <dd>{{currentAlarm[0].name}}
                        <br/>{{currentAlarm[0].causeDetail}}
                    </dd>
                    <br/>
                    <dt>{{currentAlarm[1].action}}</dt>
                    <dd>
                        <p ng-if="currentAlarm[0].action0">
                            <span ng-repeat="y in currentAlarm[0].action0">
						              <span ng-if="y.seg">{{y.seg}}</span>
                            <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                            <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                            </span>
                        </p>
                        <p ng-if="currentAlarm[0].action1">
                            <span ng-repeat="y in currentAlarm[0].action1">
						              <span ng-if="y.seg">{{y.seg}}</span>
                            <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                            <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                            </span>
                        </p>
                        <p ng-if="currentAlarm[0].action2">
                            <span ng-repeat="y in currentAlarm[0].action2">
						              <span ng-if="y.seg">{{y.seg}}</span>
                            <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                            <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                            </span>
                        </p>
                        <p ng-if="currentAlarm[0].action3">
                            <span ng-repeat="y in currentAlarm[0].action3">
						              <span ng-if="y.seg">{{y.seg}}</span>
                            <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                            <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                            </span>
                        </p>
                        <p ng-if="currentAlarm[0].action4">
                            <span ng-repeat="y in currentAlarm[0].action4">
						              <span ng-if="y.seg">{{y.seg}}</span>
                            <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                            <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                            </span>
                        </p>
                        <p ng-if="currentAlarm[0].action5">
                            <span ng-repeat="y in currentAlarm[0].action5">
						              <span ng-if="y.seg">{{y.seg}}</span>
                            <span ng-if="y.uicontrol"><strong>{{y.uicontrol}}</strong></span>
                            <span ng-if="y.image"><img ng-src="{{y.image}}" class="scale_inline"/></span>
                            </span>
                        </p>
                    </dd>
                </dl>
            </div>
        </div>
    </ons-template>

    <ons-template id="info.html">

        <div class="box">
            <div class="alarmBody alarmInfoBody">
                <dl ng-if="masterObj[prodIndex].shortName=='optia'">
                    <dt>{{currentAlarm[1].identification}}</dt>
                    <dd>{{currentAlarm[0].enumerator}}</dd>
                    <br/>
                    <dt>{{currentAlarm[1].layer}}</dt>
                    <dd>{{currentAlarm[0].layer}}</dd>
                    <br/>
                    <dt>{{currentAlarm[1].system}}</dt>
                    <dd>{{currentAlarm[0].system}}</dd>
                    <br/>
                    <dt>{{currentAlarm[1].protocol}}</dt>
                    <dd>{{currentAlarm[0].protocol}}</dd>
                    <br/>
                </dl>
                <table style="border-collapse: separate; border-spacing: 0 1em;" class="table table-condensed" ng-if="masterObj[prodIndex].shortName=='optia'">
                    <tr ng-if="occurs.start_up">
                        <th>{{currentAlarm[1].start}}</th>
                        <td><i class="icon ion-checkmark-round"></i></td>
                    </tr>
                    <tr ng-if="occurs.not_connected">
                        <th style="background:#419d9d; color: #fff; padding: .5em;">{{currentAlarm[1].not_conn}}</th>
                        <td><i style="margin-left:10px;" class="icon ion-checkmark-round"></i></td>
                    </tr>
                    <tr ng-if="occurs.connected">
                        <th style="background:#42529a; color: #fff; padding: .5em;">{{currentAlarm[1].conn}}</th>
                        <td><i style="margin-left:10px;" class="icon ion-checkmark-round"></i></td>
                    </tr>
                    <tr ng-if="occurs.disconnected">
                        <th style="background:#A55486; color: #fff; padding: .5em;">{{currentAlarm[1].disconn}}</th>
                        <td><i style="margin-left:10px;" class="icon ion-checkmark-round"></i></td>
                    </tr>
                </table>
                <dl ng-if="masterObj[prodIndex].shortName=='trima'">
                    <dt>{{currentAlarm[1].message_number}}</dt>
                    <dd ng-bind-html="currentAlarm[0].number"></dd>
                    <br/>
                    <dt>Dlog</dt>
                    <dd ng-bind-html="currentAlarm[0].dlog"></dd>
                    <br/>
                    <dt>{{currentAlarm[1].alarm_name}}</dt>
                    <dd ng-bind-html="currentAlarm[0].name"></dd>
                    <br/>
                    <dt>{{currentAlarm[1].message_type}}</dt>
                    <dd ng-bind-html="currentAlarm[0].type"></dd>
                    <br/>
                    <dt>{{currentAlarm[1].occurs}}</dt>
                    <dd>
                        <p ng-repeat="x in currentAlarm[0].occurs">{{x.item}}</p>
                    </dd>
                </dl>
                <dl ng-if="masterObj[prodIndex].shortName=='reveos'">
                    <dt>{{currentAlarm[1].message_number}}</dt>
                    <dd ng-bind-html="currentAlarm[0].number"></dd>
                    <br/>
                    <dt>Dlog</dt>
                    <dd ng-bind-html="currentAlarm[0].alarmId"></dd>
                    <br/>
                    <dt>Unit</dt>
                    <dd ng-bind-html="currentAlarm[0].unit"></dd>
                    <br/>
                    <dt>{{currentAlarm[1].version}}</dt>
                    <dd ng-bind-html="currentAlarm[0].version"></dd>
                    <br/>
                    <dt>{{currentAlarm[1].message_type}}</dt>
                    <dd ng-bind-html="currentAlarm[0].type"></dd>
                </dl>
                <dl ng-if="masterObj[prodIndex].shortName=='quantum'">
                    <dt>Dlog</dt>
                    <dd>{{info.alarmId}}</dd>
                    <br/>
                    <dt>Description</dt>
                    <dd>{{info.description}}</dd>
                    <br/>
                    <dt>Priority</dt>
                    <dd>{{info.priority}}</dd>
                    <br/>
                    <dt>Action</dt>
                    <dd>{{info.action}}</dd>
                    <br/>
                    <dt>Response</dt>
                    <dd>{{info.response}}</dd>
                    <br/>
                    <dt>Self Clear</dt>
                    <dd>{{info.selfclear}}</dd>
                    <br/>
                    <dt>Sound</dt>
                    <dd>{{info.sound}}</dd>
                </dl>
            </div>
        </div>
    </ons-template>

    <ons-template id="troubleshooting.html">
        <div class="box">
            <div class="alarmBody">
                <dl>
                    <div ng-if="troubleshooting.occurs">
                        <dt>Occurs During</dt>
                        <dd>{{troubleshooting.occurs}}</dd>
                        <br/>
                    </div>
                    <div ng-if="troubleshooting.detection">
                        <dt>Detection</dt>
                        <dd>
                            <p ng-if="isString(troubleshooting.detection)">{{troubleshooting.detection}}</p>
                            <div ng-if="!isString(troubleshooting.detection)">
                                <p ng-repeat="y in troubleshooting.detection">{{y.item}}</p>
                            </div>
                        </dd>
                        <br/>
                    </div>
                    <dt>Possible Causes</dt>
                    <dd>
                        <ul class="troubleshooting_list">
                            <li ng-repeat="y in troubleshooting.causeService">{{y.item}}</li>
                        </ul>
                    </dd>
                    <br/>
                    <div ng-if="troubleshooting.actionService">
                        <dt>Suggested Actions</dt>
                        <dd>
                            <ul class="troubleshooting_list">
                                <li ng-repeat="y in troubleshooting.actionService">{{y.item}}</li>
                            </ul>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
    </ons-template>


</div>