﻿/*! onsenui - v2.0.0-beta.1-build.1655 - 2015-11-27 */
/*
Copyright 2013-2015 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

 */

@import url("font_awesome/css/font-awesome.min.css");
@import url("ionicons/css/ionicons.min.css");
@import url("material-design-iconic-font/css/material-design-iconic-font.min.css");

/* custom elements */
ons-page, ons-navigator,
ons-split-view, ons-sliding-menu, ons-tabbar,
ons-gesture-detector {
  display: block;
}

ons-navigator,
ons-tabbar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

ons-page, ons-navigator, ons-tabbar, ons-sliding-menu, ons-split-view {
  z-index: 2;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

::-webkit-scrollbar {
  display: none;
}

input, textarea {
  -webkit-user-select: auto;
}

.page,
.page__content {
  background-color: transparent !important;
  background: transparent !important;
}

.page__status-bar-fill + .page__background + .page__content {
  padding-top: 20px;
}

ons-toolbar + .page__background + .page__content {
  margin-top: -1px;
  top: 44px;
}

.navigation-bar--material + .page__background + .page__content {
  top: 56px;
}

.page__status-bar-fill + ons-toolbar {
  height: 64px;
}

.page__status-bar-fill + ons-toolbar[modifier~="material"] {
  height: 76px;
}

.page__status-bar-fill + ons-toolbar > .center,
.page__status-bar-fill + ons-toolbar > .left,
.page__status-bar-fill + ons-toolbar > .right {
  padding-top: 20px;
}

.page__status-bar-fill + ons-toolbar[modifier~="material"] > .center,
.page__status-bar-fill + ons-toolbar[modifier~="material"] > .left,
.page__status-bar-fill + ons-toolbar[modifier~="material"] > .right {
  height: 76px;
}


.page__status-bar-fill + ons-toolbar + .page__background + .page__content {
  top: 64px;
  padding-top: 0px;
}

.page__status-bar-fill + ons-toolbar[modifier~="material"] + .page__background + .page__content {
  top: 76px;
}

.page__content {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  -ms-touch-action: pan-y;
}

.page__bottom-bar-fill ~ .page__content {
  bottom: 44px;
}

.page__content::-webkit-scrollbar {
  display: none;
}

.tab-bar__status-bar-fill + .tab-bar--top__content {
  top: 71px;
}

.tab-bar__status-bar-fill + .tab-bar--top__content + .tab-bar--top {
  padding-top: 22px;
}

ons-tabbar[position="top"] .page__status-bar-fill + .page__background + .page__content {
  padding-top: 0px;
}

ons-toolbar + .page__background + .page__content ons-tabbar > .tab-bar__status-bar-fill + .tab-bar--top__content {
  top: 49px;
}

ons-toolbar + .page__background + .page__content ons-tabbar > .tab-bar__status-bar-fill + .tab-bar--top__content + .tab-bar--top {
  padding-top: 0px;
}

ons-dialog[disabled] > .dialog,
ons-alert-dialog[disabled],
ons-popover[disabled] {
  pointer-events: none;
  opacity: 0.75;
}

ons-list-item[disabled] {
   pointer-events: none;
}

ons-pull-hook {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  z-index: 20002;
}

ons-splitter {
  overflow: hidden;
}

ons-splitter, ons-splitter-mask, ons-splitter-content, ons-splitter-side {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  z-index: 0;
}

ons-splitter-mask {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  opacity: 0;
}

ons-splitter-content {
  z-index: 1;
}

ons-splitter-side {
  z-index: 1;
}

ons-material-input {
  display: inline-block;
  position: relative;
}

ons-material-input > .text-input--material__label {
  position: absolute;
  left: 0px;
  top: 2px;
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto', 'Noto', sans-serif;
  pointer-events: none;
}

ons-material-input > .text-input--material__label--active {
  transform: translate3d(0, -75%, 0) scale(0.75);
  -webkit-transform: translate3d(0, -75%, 0) scale(0.75);
  -ms-transform-origin: left top;
      transform-origin: left top;
  -webkit-transform-origin: left top;
  transition: transform 0.1s ease-in, color 0.1s ease-in;
  -webkit-transition: -webkit-transform 0.1s ease-in, color 0.1s ease-in;
}

ons-material-input[no-float] > .text-input--material__label--active {
  display: none;
}

ons-material-input[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

/*
Copyright 2013-2015 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

 */

ons-carousel {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
}

ons-carousel-item {
  display: block;
  height: 100%;
  visibility: hidden;
}

ons-carousel-cover {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
}

ons-carousel[fullscreen] {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  box-sizing: border-box;
}

ons-carousel[disabled] {
  pointer-events: none;
  opacity: 0.75;
}

ons-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

ons-row[vertical-align="top"], ons-row[align="top"] {
  -webkit-box-align: start;
  box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  align-items: flex-start;
}

ons-row[vertical-align="bottom"], ons-row[align="bottom"] {
  -webkit-box-align: end;
  box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
}

ons-row[vertical-align="center"], ons-row[align="center"] {
  -webkit-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: inherit;
}

ons-row + ons-row {
  padding-top: 0;
}

ons-col {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

ons-col[vertical-align="top"], ons-col[align="top"] {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

ons-col[vertical-align="bottom"], ons-col[align="bottom"] {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end; }

ons-col[vertical-align="center"], ons-col[align="center"] {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  text-align: inherit;
}


/*
Copyright 2013-2015 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

 */

.ons-icon {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ons-icon--ion {
  line-height: 0.75em;
  vertical-align: -25%;
}

ons-icon[spin="true"] {
  -webkit-animation: ons-icon-spin 2s infinite linear;
  animation: ons-icon-spin 2s infinite linear;
}

@-webkit-keyframes ons-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes ons-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.ons-icon[rotate="90"] {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
}

.ons-icon[rotate="180"] {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
      transform: rotate(180deg);
}

.ons-icon[rotate="270"] {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
      transform: rotate(270deg);
}

ons-icon[flip="horizontal"] {
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
}

ons-icon[flip="vertical"] {
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
      transform: scale(1, -1);
}

ons-icon[fixed-width="true"] {
  width: 1.28571429em;
  text-align: center;
}

.ons-icon--lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.ons-icon--2x {
  font-size: 2em;
}

.ons-icon--3x {
  font-size: 3em;
}

.ons-icon--4x {
  font-size: 4em;
}

.ons-icon--5x {
  font-size: 5em;
}

/*
Copyright 2013-2015 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

 */

ons-progress-bar {
  display: block;
}

ons-progress-circular {
  display: inline-block;
  width: 42px;
  height: 42px;
}

ons-progress-circular > svg.progress-circular {
  width: 100%;
  height: 100%;
}

/*
Copyright 2013-2015 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

 */

.ripple {
  display: block;
  position: absolute;
  border-radius: inherit;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
  
.ripple__wave {
  display: block;
  position: absolute;
  background: rgba(255,255,255,.3);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
      transform: scale(0);
  pointer-events: none;
}

.ripple__wave--animate {
  -webkit-animation: ripple 0.3s linear;
  animation: ripple 0.3s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
  
.ripple__wave--animate-center {
  -webkit-animation: rippleCenter 0.1s linear;
  animation: rippleCenter 0.1s linear;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}
  
.ripple__wave--done {
  -webkit-animation: rippleOut 0.2s linear;
  animation: rippleOut 0.2s linear;
}
  
.ripple__wave--done-center {
  -webkit-animation: rippleOutCenter 0.2s linear;
  animation: rippleOutCenter 0.2s linear;
}

@-webkit-keyframes rippleOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}

@keyframes rippleOut { 
  0% {
    opacity: 1;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}


@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}

@keyframes ripple { 
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}


@-webkit-keyframes rippleCenter {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    top: 0;
    left: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    top: 0;
    left: 0;
  }
}

@keyframes rippleCenter { 
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    top: 0;
    left: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    top: 0;
    left: 0;
  }
}

@-webkit-keyframes rippleOutCenter {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    top: 0;
    left: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    top: 0;
    left: 0;
  }
}

@keyframes rippleOutCenter { 
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    top: 0;
    left: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
    top: 0;
    left: 0;
  }
}
/*
Copyright 2013-2015 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

ons-scroller {
  display: block;
  height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;   
  -ms-overflow-style: none;
  -ms-scroll-snap-type: mandatory;
}

ons-scroller::-webkit-scrollbar {
  display: none;
}

.ons-scroller__content {
  height: 100%;
  overflow: scroll;
}

/*
Copyright 2013-2015 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

ons-sliding-menu {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  overflow-x: hidden;
}

.onsen-sliding-menu__menu,
.onsen-sliding-menu__main {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  margin: 0;
  padding: 0;
}

.onsen-sliding-menu__menu {
  opacity: 0;
}


/*
Copyright 2013-2015 ASIAL CORPORATION

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

*/

ons-split-view {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 0;
  overflow: hidden;
}

.onsen-split-view__secondary {
  opacity: 0;
  width: 100%;
}

.onsen-split-view__secondary,
.onsen-split-view__main {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 0;
  overflow-x: hidden; 
}
