﻿<ons-popover cancelable direction="down" style="width:auto;" ons-posthide="masterButton=false">
    <div class="pageView">
        <div class="pageTitle">Select View</div>
        <div ng-repeat="p in masterObj|filter:{checked:true}">
            <div ng-repeat="v in p.versions|filter:{checked:true}">
                <ons-list>
                    <ons-list-item ng-repeat="l in v.languages|filter:{checked:true}" class="recentItem" ng-click="changeV(p,v,l)" ng-class="{'selectedItem':p.idx===prodIndex && v.idx===verIndex && l.idx===langIndex}">
                        <ons-ripple color="rgba(180, 183, 186, 0.25)"></ons-ripple>
                        {{p.fullName}} <i class="icon ion-chevron-right terumoGreen"></i> {{v.fullName}} <i class="icon ion-chevron-right terumoGreen"></i> {{l.langName}}
                    </ons-list-item>
                </ons-list>
            </div>
        </div>
        <hr>
        <button class="button button--material settingsButton" ng-disabled="masterButton" ng-click="masterButton=true;forward('registration');changeView.hide();">GO TO MASTER SETTINGS</button>
    </div>
</ons-popover>