﻿<ons-popover cancelable class="langPopover" direction="down">
    <div class="pageView">
        <ons-list>
            <ons-list-item modifier="tappable" class="languageItem" style="font-size:1.75rem;padding:4%;" ng-repeat="x in masterObj[prodIndex].versions[verIndex].languages|filter:{checked:true}" ng-click="changeLang(x,true)">
                <ons-ripple color="rgba(0, 154, 68, 0.1)"></ons-ripple>
                <span ng-class="{'terumoGreen':x.langName===masterObj[prodIndex].versions[verIndex].languages[langIndex].langName}">{{x.langName}}</span>
                <i ng-show="x.langName===masterObj[prodIndex].versions[verIndex].languages[langIndex].langName" class="icon ion-checkmark-round pull-right terumoGreen"></i>
            </ons-list-item>
        </ons-list>
    </div>
</ons-popover>