<!-- index.html -->
<!DOCTYPE html>
<html>

<head>
    <script src="lib/onsen2/js/angular/angular.min.js"></script>
    <script src="lib/onsen2/js/onsenui.min.js"></script>
    <script src="lib/onsen2/js/angular-onsenui.min.js"></script>
    <script src="lib/onsen2/js/angular/angular-sanitize.min.js"></script>
    <link rel="stylesheet" href="lib/onsen2/css/onsenui.css">
    <link rel="stylesheet" href="lib/onsen2/css/onsen-css-components.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="cordova.js"></script>
    <script src="app.js"></script>
    <script src="controllers/searchController.js"></script>
    <script src="controllers/alarmController.js"></script>
    <script src="controllers/regController.js"></script>
    <script src="js/service.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</head>

<body>
    <ons-navigator animation="slide" var="nav"></ons-navigator>
    <div class="toTop" ng-click="$broadcast(&apos;scrolltotop&apos;)" ng-show="nav.getCurrentPage().name===&apos;templates/search.html&apos;">
        <i class="icon ion-arrow-up-c"></i>
    </div>
</body>

</html>